.nav {
    margin: 0 0 10px;
    padding: 0 0 20px;
    border-bottom: 1px solid #9f72e6;

    a {
        font-size: 20px;
        padding: 5px 15px 7px;

        &:not(:last-of-type) {
            border-right: 1px solid #9f72e6;

        }

        &.active {
            background-color: #9f72e6;
            color: white;
        }
    }
}